<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.dalecom.agendamobile">

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- [START gcm_permission] -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- [END gcm_permission] -->
    <application
        android:name=".AgendaMobileApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_icalendar_primary"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="AA_BD_NAME"
            android:value="AgendaMobile.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="2" />

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />
        <service
            android:name=".service.sync.SyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
        <service android:name=".service.sync.auth_stub.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <provider
            android:name=".service.sync.provider_stub.StubProvider"
            android:authorities="br.com.dalecom.agendamobile"
            android:exported="false"
            android:syncable="true" />

        <activity
            android:name=".ui.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.UpDateImageActivity"
            android:label="@string/title_activity_update_image"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ProfessionalsActivity"
            android:label="@string/professionalActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.TimesActivity"
            android:label="@string/title_activity_times"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ServicesActivity"
            android:label="@string/title_activity_services"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ProperiesActivity"
            android:label="@string/myProperties"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.NewPropertyActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.CadastroActivity"
            android:label="@string/title_activity_cadastro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.CreateUserActivity"
            android:label="@string/title_activity_create_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />

        <!-- [Google gms services start] -->

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="gcm.play.android.samples.com.gcmquickstart" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.gcm.InstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".service.gcm.RegistrationIntentService"
            android:exported="false" />
        <service
            android:name=".service.gcm.GcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <!-- [Google gms services ends] -->

        <activity
            android:name=".ui.CalendarProfessionalActivity"
            android:label="@string/title_activity_calendar_professional"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.PropertyActivity"
            android:label="@string/title_activity_property"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

    </application>

</manifest>
